body
{
  align-items: center;
  background-color: black;
}
.top-container
{
  background-color: black;
  height: 918px;
}
.topimg
{
  width: 400px;
  height:400px;
  position: absolute;
}
#img1
{
  margin-left: 25%;
  margin-top: 10%;
}

#img2
{
  margin-left: 50%;
  margin-top: 18%;
  border-style: solid;
  border-color: white;
}
.middle-container
{
  padding-top: 5px;
  padding-left: 10px;
  text-align: center;
  background-color: #35589A;
  height: 1080px;
  color: white;
}
.headings
{
  font-size: 60px;
  font-style: oblique;
}
.bottom-container
{
  background-color: yellow;
  height: 1080px;
}
