body
{
  align-items: center;
  background-color: #3E8E7E;
  margin: 0;
  position: relative;
  height: 100%;
}
.navbar
{

  font-size: 20px;
}
.navbar-brand
{
    padding-left: 40px;
  font-size: 100px;
}
.nav-item
{
  padding-right: 30px;
}
.top-container
{
  padding: 25% 0%;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 50px;
  position: relative;
}
.div1top
{
  font-family: 'Charmonman', cursive;
  font-size: 60px;
  color: #7CD1B8;
}
.div1sec
{
  font-family: 'Baloo 2', cursive;
  font-size: 30px;
  color: #FF7272;
  text-shadow: 1px 1px white;

}
.middle-container
{
  padding-top: 50px;
  text-align: center;
  background-color: #7CD1B8;
  height: auto;
}

.row
{
  padding: 50px 50px 50px 50px;
}
.headings
{
  font-size: 60px;
  font-family: 'Twinkle Star', cursive;
  text-shadow: 2px 2px #FF7272;
}
.card-body
{
  background-color: #FF7272;
}
.card-buttons
{
  background-color: white;
}

.bottom-container
{
  background-color: black ;
  height: auto;
  color: white;
  text-align: center;
  padding: 100px 100px;
  align-items: center;
  
}
.card-title
{
  color: white;
}
.contact
{
  font-size: 60px;
  text-shadow: 2px 2px #FF7272;
  font-family: 'Baloo 2', cursive;
}
.BUTTON_PCR {
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 10px;
   color: white;
   font-family: Verdana;
   font-size: 20px;
   padding: 10px 5px 10px 5px;
   font-weight: 100;


   box-shadow-horizontal: 1;
   box-shadow-vertical: 1;
   box-shadow-blur: 20;
   box-shadow-spread: 0;
   margin: 20px 0px 50px 0px;
   background-color: #FF7272;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FF7272 4px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
#linkedin
{
  width: 60px;
}
#twitter
{
  width: 50px;

}
#insta
{
  width: 50px;
}
#git
{
  width: 50px;
}
#email
{
  width: 50px;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0PX;
}
